* text=auto

/tests export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/.phpunit.result.cache export-ignore
/phpstan.neon.dist export-ignore
/phpcs.xml export-ignore
/psalm.xml export-ignore
/pint.json export-ignore
/CHANGELOG.md export-ignore
/README.md export-ignore
